{% extends "layout.html" %} {% block content %}
<div>
  <div class="intro-card">
    <div class="heading-text">
      <h1>
        About Us
      </h1>
      <p class="sub-heading-text">
        Scroll down to get to know the Smart Traffic App creators and learn a bit more about this app!
      </p>
    </div>
    <div class="center">
      <img class="arrow-down" src="/static/pictures/arrow-down.png" height="64px">
    </div>
  </div>
  <div class="centered-text">
    <p>
      Hey there, we are the Smart Traffic Crew. We are three students studying Electrical and Computer Engineering at the
      University of Waterloo. We think that traffic control in our modern day cities are not digitalized as well as they could be.
      Using Matlab we set out to make a script that could use computer vision to record data about traffic stops automatically.
      The script we ended up producing counts how many automobiles pass through an area of road at any given time, making sure to
      account for duplicates and vehicles that have left the field of view. This helps regulate the density of traffic. We also
      decided to publish this script on a website so users can interact with it and submit their own videos of traffic! We decided
      to make a monolithic web application using Flask as this website would remain fairly simple and focus on the performance of
      the Matlab script. In order to integrate the Matlab into a flask application we converted our code into a Python library using
      the Matlab Compiler Runtime. Scroll down to meet the fresh young minds who made this application!
    </p>
  </div>
  <div class="two-column-left">
      <img class="about-us-image"  src="/static/pictures/sathira.jpg">
      <p class="aboutus-description">
        My name is Sathira Katugaha. I am a Computer Engineering student at the University of Waterloo. I contributed to the
        construction and architecture of this website and format of the functions in the MATLAB script. I have previously
        interned as a Front-end Software Developer for Android and the Web twice at SAP and am currently helping found a new
        Software Company. Other than making web and mobile apps I enjoy going on runs, martial arts (specifically Tae Kwon Do), 
        sketching and photography.
      </p>
  </div>
  <div class="two-column-right">
    <img class="about-us-image" src="/static/pictures/patrik.JPG">
    <p class="about-us-description">
      My name is Patrik Beqo. I am a Computer Engineering student at the University of Waterloo. I aided in making the
      MATLAB algorithm to detect/track the vehicles and the design of the website. I spent my first two co-ops in the
      medical industry where I was an IT specialist and QA analyst. I have since upgraded to a Software Developer role at
      Ritual. In my free time I enjoy going on hikes, playing sports, and watching movies.
    </p>
  </div>
  <div class="two-column-left">
    <img class="about-us-image"  src="/static/pictures/sarvath.jpg">
    <p class="about-us-description">
      My name is Sarvath Sharma. I am an Electrical Engineering student at the University of Waterloo. I helped architect the
      computer vision, image processing and create the integration of MATLAB code into a Python library. My first two
      co-ops were at Solink as a QA Specialist and Junior Developer and then worked at WATONOMOUS (a autonomous car design team)
      where I was a Power Systems Specialist. In my spare time I enjoy working out, gaming, anime and spending time with friends
      and family.
    </p>
  </div>
</div>
{% endblock content %}