{% extends "layout.html" %} {% block content %}
<div>
  <div class="intro-card">
    <div class="heading-text">
      <h1>
        About Us
      </h1>
      <p>
        Get to know the Smart Traffic App creators.
      </p>
    </div>
  </div>
  <div class="centered-text">
    <p>
      Hey there, we are the Smart Traffic Crew. We are three students from the University of Waterloo enrolled in ECE.
      We worked together to develop this app that allows the traffic flow in major intersections to run smoother and
      decrease the road rage we all have sometimes. This project was inspired by Patrik and Sarvath when they wanted to
      experiment with image processing. Sarvath thought of wanting to improve the traffic flow in his neighbourhood and
      learn how autonomous vehicles communicate with traffic lights. So after some discussion they both chose to work on
      this project. When it came to making it a full project, Sathira stepped in. The front-end god helped us in making
      this side project into an actual product.
    </p>
  </div>
  <div class="centered-text">
    <img class="about-us-image"  src="/static/pictures/traffic-light.png">
    <h1>
      MEET THE TEAM!
    </h1>
  </div>
  <div class="two-column-left">
      <img class="about-us-image"  src="/static/pictures/sathira.jpeg">
      <p class="aboutus-description">
        My name is Sathira Katugaha, aka King Katugaha. I am a Computer Engineering student in UW. I aided in the
        development of the website and format of the functions in the MATLAB script. I spent my first two co-ops in SAP
        and the next one running a whole dev team by myself. Other than coding front end applications (which is my main
        speciality) I enjoy going on runs, ranting about Politics and Kanye, turn up with the bois on Saturdays and
        express my intense thoughts on Twitter.
      </p>
  </div>
  <div class="two-column-right">
    <img class="about-us-image" src="/static/pictures/patrik.jpg">
    <p class="aboutus-description">
      My name is Patrik Beqo, aka TikTok King. I am a Computer Engineering student in UW. I aided in making the
      MATLAB algorithm to detect/track the vehicles and the design of the website. I spent my first two co-ops in the
      medical industry where I was an IT specialist and QA student. I have since upgraded to a Software Developer at
      Ritual. In my free time I enjoy going on hikes, testing my liver's tolerance and scrolling through TikTok for hours
      at time.
    </p>
  </div>
  <div class="two-column-left">
    <img class="about-us-image"  src="/static/pictures/sarvath.jpg">
    <p class="aboutus-description">
      My name is Sarvath Sharma, aka Shawarma King. I am an Electrical Engineering student in UW. I aided in the
      computer vision and image processing aspect of the project. I also helped in integrating the Python and MATLAB
      aspects together. I am also known as the kid who pushed the Python libraries to the GitHub repo to get more cred.
      I spent my first two co-ops working at Solink. I was a QA Specialist and Junior Developer and then worked at
      WATONOMOUS where I was a Power Systems Member. In my spare time I enjoy working out, gaming, being a lil weeb and
      also make some vids in YouTube where I get roasted by my high school friends for being garbage in Valorant.
    </p>
  </div>
</div>
{% endblock content %}