{% extends "layout.html" %} {% block content %}
<div>
  <div class="homepage-card">
    <div class="heading-text-index">
      <h1>Tired of slow traffic?</h1>
        We can help you monitor the peaks and troughs of your traffic throughout
        the day!
      </h5>
    </div>
    <p id="help-text">Click on a button and scroll down to view the videos and graphs!</p>
    <div class='btn-wrapper'>
      <button type="button" id="graph1-button" class="btn btn-outline-success">
        Data1
      </button>
      <button type="button" id="graph2-button" class="btn btn-outline-warning">
        Data2
      </button>
      <button type="button" id="graph3-button" class="btn btn-outline-primary">
        Data3
      </button>
    </div>
  </div>
  <div id="graph1">
    <video controls="" width="100%" name="media">
      <source
        src="{{ url_for('static', filename='videos/originalVideo1.mp4') }}"
        type="video/mp4"
      />
    </video>
    <video controls="" width="100%" name="media">
      <source
        src="{{ url_for('static', filename='videos/finalVideo1.mp4') }}"
        type="video/mp4"
      />
    </video>
    <canvas id="myChart" data="{{ data[0] }}"></canvas>
  </div>
  <div id="graph2">
    <video controls="" width="100%" name="media">
      <source
        src="{{ url_for('static', filename='videos/originalVideo2.mp4') }}"
        type="video/mp4"
      />
    </video>
    <video controls="" width="100%" name="media">
      <source
        src="{{ url_for('static', filename='videos/finalVideo2.mp4') }}"
        type="video/mp4"
      />
    </video>
    <canvas id="myChart2" data="{{ data[1] }}"></canvas>
  </div>
  <div id="graph3">
    <video controls="" width="100%" name="media">
      <source
        src="{{ url_for('static', filename='videos/originalVideo3.mp4') }}"
        type="video/mp4"
      />
    </video>
    <video controls="" width="100%" name="media">
      <source
        src="{{ url_for('static', filename='videos/finalVideo3.mp4') }}"
        type="video/mp4"
      />
    </video>
    <canvas id="myChart3" data="{{ data[2] }}"></canvas>
  </div>
</div>
{% endblock content %}
