# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\GitHub\Smart-Traffic-Control-System\pipelineIntegration\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
