.homepage-card {
  color: white;
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
    url(/static/pictures/index-background.jpg);
  background-size: cover;
  height: calc(100vh - 76px);
  width: 100%;
  display: block;
  padding-top: 128px;
}

.heading-text-index {
  width: calc(200% / 3);
  align-self: center;
  padding-left: 64px;
  margin-top: 48px;
}

.home-page-image {
  grid-area: Image;
  height: 200px;
  width: 200px;
  margin: 0 auto;
}
.upload-description {
  margin-top: 64px;
  margin-bottom: 16px;
}

.btn-wrapper{
  padding-left: 64px;
}

.two-column-images{
  display:flex;
  flex-direction: column;
  align-items: center;
}
  
.image1{
  width: 100%;
  height: auto;
  padding: 16px 0px;
}

.image2{
  width: 100%;
  height: auto;
  padding: 16px 0px;
}

@media only screen and (min-width: 768px) {
  .two-column-images{
    display:flex;
    flex-direction: row;
    align-items: center;
  }
    
  .image1{
    width: 50%;
    height: auto;
    padding: 0px 32px;
  }

  .image2{
    width: 50%;
    height: auto;
    padding: 0px 32px;
  }
}

.image1 h4 {
  margin-bottom: 16px;
}

.image2 h4 {
  margin-bottom: 16px;
}

#help-text{
  margin-top: 64px;
  padding-left: 64px;
  max-width: 90%;
}

#graph1-button{
  margin-right: 24px;
}

#graph2-button{
  margin-right: 24px;
  
}

#graph1 {
  margin: 64px auto;
  display: none;
  width: 90%;
}

#graph2 {
  margin: 64px auto;
  display: none;
  width: 90%;
}

#graph3 {
  margin: 64px auto;
  display: none;
  width: 90%;
}
