.homepage-card {
    color: white;
    background-image: url(/static/pictures/smart-traffic.jpg);
    background-size: cover;
    height: calc(100vh - 76px);
    width: 100vw;
    display: block;
    padding-top: 128px;
}

.heading-text {
    width: calc(200% / 3);
    align-self: center;
    padding-left: 32px;
}

.home-page-image{
    grid-area: Image;
    height: 200px;
    width: 200px;
    margin: 0 auto;
}