body {
    padding-top: 76px;
    color:white;
    background-color: #181818;
}

p{
    font-size: 1.25rem;
}

a:hover,:active,:visited{
    text-decoration: none;
}

.github{
    margin-bottom: 3px;
    margin-left: 6px;
    margin-right: 6px;
}